fastapi
uvicorn
python-multipart
librosa
numpy==1.26.4
scikit-learn
soundfile
noisereduce
opencv-python
deepface
mtcnn
retina-face
requests
tf-keras
SpeechRecognition
pydub
mediapipe==0.10.18
tensorflow